<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Request Form</title>
</head>
<body>
    <form method="POST">
        
        <label>Leave From:<input type="date", name="startDate"></label>
        <br>
        <label>Leave To:<input type="date", name="endDate"></label>
        <br>
        <label>Reason for Leave:<textarea name="reason"></textarea></label>
        <br>
        <input type="submit" value="Submit">

    </form>
</body>
</html>